<%if results.any? %>
  <%results.each do |result| %>
    <div class="suggestion-container row pb-3 border-bottom">
      <div class="suggestion-container__img col-3 mt-3" style= "width:90px;height:90px;">
        <%if result.instance_of?(Photo) %>
          <%= image_tag result.image_url.url,style: "width:70px;height:70px;" %>
        <%else %>
          <div class="album-container">
            <% result.images.each do |image| %>
              <%= image_tag image.url,style: "width:70px;height:70px;",class:'album-container__img' %>
            <%end %>
          </div>
        <%end %>

      </div>
      <div class="suggestion-container__detail col-9 mt-2">
        <p class="fw-bold"><%= result.title%></p>
        <p><%= result.description %></p>
      </div>
    </div>
  <%end %>
<%end %>