/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "components/feed.css";
@import "components/photo.css";
@import "components/followings.css";
@import "components/new_photo.css";
@import "components/album.css";
@import "components/new_album.css";
@import "components/feeds_album.css";
@import "components/edit_user.css";

/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
.modal-dialog {
    margin: 2.5vh auto;
}

/*Sets the maximum height of the entire modal to 95% of the screen height*/
.modal-content {
    max-height: 95vh;
    overflow: scroll;
}

/*Sets the maximum height of the modal body to 90% of the screen height*/
.modal-body {
    max-height: 90vh;
}
/*Sets the maximum height of the modal image to 69% of the screen height*/
.modal-body img {
    max-height: 69vh;
}

.header{
    background-color: #3c5a9a;
}
.header #suggestions{
    width: 33%;
    position: absolute;
    top: 100%;
    left: 17.25%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px;
    max-height: 200px; /* Giới hạn chiều cao của suggestions để tránh lồi ra quá nhiều */
    overflow-y: auto; /* Cho phép cuộn nội dung nếu nó vượt quá chiều cao tối đa */
    z-index: 1; /* Đảm bảo rằng suggestions hiển thị trên các phần tử khác nằm dưới */

    transition: background-color 0.2s ease-out;
}

.header #suggestions .suggestion-container:hover{
    background-color: #e9ecef;
    cursor: pointer;
}
.header #suggestions .album-container{
    position: relative;
}
.header #suggestions .album-container .album-container__img{
    position: absolute;

    z-index: 3;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}
.header #suggestions .album-container .album-container__img:nth-child(2){
    z-index: 2;
    transform: rotate(6deg);
}
.header #suggestions .album-container .album-container__img:nth-child(3){
    z-index: 1;
    transform: rotate(12deg);
}


/*css notification*/
.header .user-notification .container{
    width: 300px;
    max-height: 200px; /* Giới hạn chiều cao của suggestions để tránh lồi ra quá nhiều */
    overflow-y: auto; /* Cho phép cuộn nội dung nếu nó vượt quá chiều cao tối đa */
}