<div class="sidebar1 col-2 mt-5 d-flex justify-content-center">
  <% def feeds_photos_user_path(current_user)
       # code here
     end
     if user_signed_in? %>
    <ul class="nav flex-column align-items-center position-fixed">
      <li class="nav-item ">
        <%= link_to "Feeds", feeds_photos_user_path(current_user), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Discover", root_path, class: 'nav-link text-black' %>
      </li>
    </ul>
  <%end %>
</div>