<div class="sidebar1 col-2 mt-5 d-flex justify-content-center">
  <% if user_signed_in? %>
    <ul class="nav flex-column align-items-center position-fixed">
      <li class="nav-item ">
        <%= link_to "Feeds", root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Discover", root_path, class: 'nav-link text-black' %>
      </li>
    </ul>
  <%end %>
</div>